body{
    margin: 0;
    padding: 0;
    background-color: violet;
}

p{
    background-color: lightgray;
    border: 3px solid green;
}

p:first-of-type{
    height: 100px;
    padding: 20px;
    margin: 0px;
}

p:nth-of-type(2){
    width: 50%;
    padding: 1.2em;
    margin: 20px 5px;
}

p:last-child{
    height: 200px;
    width: 200px;
    padding: -30px;
    margin: auto;
}